@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Do Hyeon", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frm { /* 폼 태그 */
    background: #ffd954;
    width: 650px;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    transition: all 0.7s ease-in-out;
    box-shadow: 5px 5px 10px #69491a;
}

.title h2 {  /* 폼 제목 */
    font-size: 50px;
    color: #D2691E;
    font-family: 'Exo', sans-serif;  /* 영어 */
}

.frm-input {
    display: flex;
    flex-direction: column;
    width: 100% auto;
    justify-content: center;
    align-items: center;
}

.id-input {
    margin-left: 80px;
}

.frm-input input {
    width: 180px;
    padding: 10px;
    margin: 5px;
    height: 50px auto;
    border: none;
    border-bottom: 2px solid #69491a;
    background-color: transparent;
    font-size: 15px;
}


#idCheck {  /* id 중복확인 */
    font-family: 'Do Hyeon', sans-serif;  /* 한글 */
    border: none;
   background-color: transparent;
   padding: 15px 20px;
   border-radius: 10px;
   transition: all 0.5s ease-in-out;
   margin-bottom: 20px;
    font-size: 15px;
}

#idCheck:hover {  /* id 중복확인 마우스 올렸을 때*/
    color: #B86824;
   box-shadow: 3px 3px 5px #fe9103;
}

.frm-input input::placeholder { 
    font-family: 'Exo', sans-serif;  /* 영어 */
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    color: gray;
}

a {  /* login 버튼 */
    border: none;
   background-color: transparent;
   padding: 15px 20px;
   border-radius: 10px;
   transition: all 0.5s ease-in-out;
   margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    color: #B86824;
    text-decoration: none;
}
                                
a:hover { 
    color: #fe9103;
   box-shadow: 3px 3px 5px #fe9103;
}

.join input[type="button"]{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Exo', sans-serif;  /* 영어 */
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
    color: #B86824;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

.join input[type="button"]:disabled {
    color: #b4b4b4;
}

#msg {
    font-size: 15px; 
    font-family: 'Do Hyeon', sans-serif;  /* 한글 */
    text-align: center;
    color: #ff9100;
}

span { /* man woman 글씨 */
    font-family: 'Do Hyeon' , sans-serif;
    font-size: 18px;
    color: gray;
    padding: 15px;
    margin: 10px;
}

input[type="radio"] {  /* 라디오 버튼 숨김 */
    display: none;
}

input[type="radio"] + span {
    display:inline-block;
    background:none;
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:500;
    cursor:pointer;
    background: transparent;
    color:gray;
}

input[type="radio"]:checked + span {
    background: orange;
    border-radius: 10px;
    color: white;
}

span:hover{
    transform: scale(1.2);
}
